@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Name</h1>
    <p>Primeiro site de cadastro de contato<a href=""> </a></p>

    <span>Seu e-mail: @Model.Email</span>
</div>
